<div class="container">
  <div class="container">
    <div class="content">
      <h1><b>About this Project</b></h1>
      <p>Our team consists of:</p>
      <ul>
        <li><strong>Nishith Desapathi Vadlamudi</strong> - Lead Developer, with over 2 years of experience in game development. <a href="https://www.linkedin.com/in/nishith-vadlamudi-337351188/" target="_blank">View Profile</a></li>
        <li><strong>Sathwik Vemulapally</strong> - Graphics Designer, responsible for the beautiful visuals in the game. <a href="https://www.linkedin.com/in/sathwik-vemulapally-1ab9971b8/" target="_blank">View Profile</a></li>
      </ul>
      <p>Together, we've worked hard to bring you the best Othello gaming experience possible!</p>
      <button class="btn btn-primary btn-block login-btn" (click)="goHome()">Go Home</button>
    </div>
  </div>
</div>
