<div class="container">
  <div class="content">
    <h1><b>Othello Rules</b></h1>
    <ul>
      <li>The game is played on an 8x8 board with 64 discs, which are black on one side and white on the other.</li>
      <li>Players take turns placing discs on the board, with their color facing up. Each player starts with two discs in the center of the board.</li>
      <li>The player with black disc goes first followed by player with white disc and so on...</li>
      <li>A move is legal if it results in at least one of the opponent's discs being flipped over to the player's color. This can happen horizontally, vertically, or diagonally.</li>
      <li>If a player cannot make a legal move, their turn is skipped.</li>
      <li>The game ends when the board is full or when neither player can make a legal move.</li>
      <li>The player with the most discs of their color on the board at the end of the game wins.</li>
    </ul>
    <p class="rules-additional-info">For more information and strategy tips, visit the <a href="https://en.wikipedia.org/wiki/Reversi">Othello/Reversi</a> page on Wikipedia.</p>
    <button class="btn btn-primary btn-block login-btn"(click)="goHome()">Go Home</button>
  </div>
</div>
